{% extends 'base.html' %}

{%  block content %}

<div class="container my-5">

    <div class="my-5">
        <h2>Your Cart</h2>

    </div>

    <table class="table table-hover">
        <thead>
            <tr >
                <th scope="col" width='155'>#</th>
                <th scope="col">Product Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Remove</th>
            </tr>
        </thead>
        <tbody>
            {% for cart in carts %}
            <tr>
                <th scope = "row">{{ forloop.counter }}</th>
                <td>{{ cart.item.name }}</td>
                <td>
                    <a href="{% url 'orderapp:decrease' pk=cart.item.pk %}" class="mr-2"><span class="badge badge-light"><i class="fas fa-minus"></i></span></a>
                    {{cart.quantity}}
                    <a href="{% url 'orderapp:increase' pk=cart.item.pk %}" class="mr-2"><span class="badge badge-light"><i class="fas fa-plus"></i></span></a>
                </td>
                <td align="center">&#2547; {{cart.get_total}}</td>
                <td><a href="{% url 'orderapp:remove' pk=cart.item.pk %}" class="btn btn-danger btn-sm">Remove From Cart</a></td>
            </tr>


            {% endfor %}
            <tr>
                <th scope="row"></th>
                <td colspan="2">Total</td>
                <td align="center">&#2547; {{order.get_totals}}</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td colspan="4" class="text-right">
                    <a href="{% url 'shopapp:home'%}" class="btn btn-warning mr-4">Continue Shopping</a>
                    <a href="{% url 'paymentapp:checkout'%}" class="btn btn-success mr-4">Proceed To Checkout</a>
                </td>
            </tr>
        </tbody>

    </table>
</div>

{% endblock %}